#sign_in{
    color: white;
    background-color: rgb(38, 38, 243);
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: 0px;
    font-size: 1em;
}

#sign_in:hover{
    background-color: rgb(54, 54, 241);
    box-shadow: 0 1px 0 3px rgba(165, 165, 165, 0.11);
}

header ul {
    position: fixed;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 70px;
    float: left;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

li{
    padding: 5px;
    margin: 10px;
}

body{
    font-family: sans-serif;
}

main{
    margin: 10% auto;
    float: left;
    width: 100%;
    height: auto;
}

#google{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#search-bar{
    display: flex;
    width: 50%;
    height: 2.5em;
    margin: 2% auto;
    border: 1px solid rgba(128, 128, 128, 0.274);
    border-radius: 20px;
    padding-left: 10px;
    max-width: 600px;
}

#bar{
    border:none;
    height: 1fr;
    width: 100%;
    margin-left: 5px;
    border-radius: 20px;
}

input:focus{
    outline: none;
}

#search-bar:hover{
    box-shadow: 0 1px 0 3px rgba(165, 165, 165, 0.11);
}

li:hover{
    text-decoration: underline;
    cursor: pointer;
}

#apps{
    display: flex;
    background-color: transparent;
    border-radius: 100%;
    width: auto;
}

#apps:hover{
    background-color: rgb(197, 197, 197);
    box-shadow: 0 1px 20px 5px rgba(165, 165, 165, 0.11);
}

.search{
    background-color: #f6f6f6;
    border: grey;
    border-radius: 4px;
    padding: 10px;
    width: 140px;
    height: 40px;
    border: 1px solid transparent;
    text-align: center;
    text-overflow: clip;
}

#search-buttons{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: auto;
}

.search:hover{
    border: 1px solid rgba(128, 128, 128, 0.274);
}

#sign_in:hover{
    background-color: rgb(54, 54, 241);
    box-shadow: 0 1px 0 3px rgba(165, 165, 165, 0.11);
}

footer ul {
    background-color: rgba(165, 165, 165, 0.11);
    position: fixed;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: smaller;
    color: rgb(114, 114, 114);
}
